h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #2962ff;
    font-weight: 550;
}

body {
    height: 100%;
    position: inherit;
    background-color: #eceff1;
    
    /* useless */
    margin-left: 0;
    
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    border-spacing: 10px;
}

#bodyText {
    text-indent: 20px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* NAVIGATION */
nav {
    position: static;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    background-color: #2962ff;
    /*background-color: #f44336;*/
    
    font-weight: 300px;
    text-align: right;
}

a.nav {
    color: white;
    padding: 20px 8px 10px;
}

a {
    color: #263238;
    text-decoration: none;
}

a:hover, a:active {
    color: #64ffda;
}