/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* NAVIGATION */
header.navbar {
    overflow: hidden;
    background-color: #2962ff;
}

header.navbar>h1 {
    float: left;
    padding: 8px;

    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    font-size: 23px;
}

header.navbar>nav {
    float: right;
}

header.navbar>nav>a {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 300px;
    color: white;
    
    text-align: right;
    padding: 10px 8px;
    
    float: left;
}

header.navbar>nav>a:hover, a:active {
    color: #64ffda;
}

/* ANCHOR LINKS */
a {
    color: #263238;
    text-decoration: none;
}

a:hover, a:active {
    color: #64ffda;
}

/* BODY */
body {
    height: 100%;
    position: inherit;
    background-color: #eceff1;
    
    line-height: 1.7em;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #212121;
    border-spacing: 10px;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    color: #2962ff;
    font-weight: bolder;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 1.3em;
    color: #212121;
    font-weight: bold;
}

p {
    padding-bottom: 15px;
}

article.main {
    float: none;
    overflow: none;
    padding: 25px 5%;
}

footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 60px;
    
    color: #212121;
    font-size: 12px;
    text-align: center;
}