/* 
    HTML5 Reset for older browsers
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*

/*
    ===============================
    Grid
    ===============================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
    ========================================
    Container Class
    ========================================
*/
.container,
.grid {
    margin: 0 auto;
    /* center content */
    width: 840px;
    width: 84.0rem;
    width: 640px;
    width: 64.rem;
    /* fixed width */
}


/*
    ========================================
    Clearfix
    ========================================
*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

/*
    ======================================
    b) Layouts (Set up structure of page)
    ======================================
*/

/*
    =================================
    Reusable Layouts (Grid, Columns)
    =================================
*/
/* Add spacing to accommodate spacing on end of columns with edge of page */
.grid,
.col-1-3,
.col-2-3 {
    padding-left: 15px;

    padding-right: 15px;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

/*
    ========
    Globals
    ========
*/
html {
    font-family: 'Inconsolata', monospace;
    color: rgb(33, 33, 33);
    color: #616161;
    font-size: 20px;
    font-size: 62.5%;
    font-weight: 400;
}

section:first-child {
    padding-top: 0;
}

section {
    padding: 32px;
}


/*
    ==============
    c) Typography
    ==============
*/
h1,
h2,
h3 {
    font-weight: 500;
    margin: 0 0 8px;
}

h1 {
    color: #1a73e8;
    font-size: 48px;
    font-size: 4.8rem;
    font-weight: 550;
    line-height: 72px;
}

h2 {
    color: rgb(33, 33, 33);
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 48px;
}

h3 {
    color: rgb(33, 33, 33);
    font-size: 24px;
    font-size: 2.4rem;
}

strong {
    font-weight: 400;
}

cite,
em {
    font-style: italic;
}


/*
    ================
    Links (Anchors)
    ================
*/
a,
a:hover {
    color: #1a73e8;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #1a73e8;
    text-decoration: none;
    cursor: pointer;
}

/*
--------------------------------
    2. MODULES
--------------------------------
*/

/*
    ==========
    a) Header
    ==========
*/
header {
    font-size: 20px;
    font-size: 2.3rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    min-width: 100%;
    padding: 32px 32px 0 32px;
    padding: 3.2rem 3.2rem 0 3.2rem;
}

.logo,
.logo:hover,
.logo:visited {
    float: left;
    color: #000;
    text-decoration: none;
}

.logo img {
    margin-right: 0;
    width: 20px;
}

/*
    ==============
    Navigation
    ==============
*/
.nav {
    text-align: right;
    text-transform: lowercase;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: inline-block;
}

.nav li {
    position: relative;
    margin: 0 36px 0 0;
    transition: all 0.4s ease;
}

.nav li a:hover, footer li:hover {
    color: #1a73e8;
}

.nav a {
    color: #000;
    cursor: pointer;
}

.nav a:active {
    opacity: 0.8;
}

.nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    height: 0.2rem;

    left: 20%;
    position: absolute;
    background: #1a73e8;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

li:last-child {
    padding-right: 0;
    margin-right: 0;
}

/*
    ===============
    b) Main (Body)
    ===============
*/
body {
    background: #fff;
    font-size: 20px;
    font-size: 2.0rem;
    line-height: 30px;
}

main {
    margin: 94px 0 94px 0;
    margin: 9.4rem 0 9.4rem 0;
}

/* Introduction */
.intro {
    padding-top: 48px;
    padding-bottom: 0;
}

/* Languages */
.technology {
    border-bottom: 1.5px solid #eceff1;
}

/* Design */
.design {
    border-bottom: 1.5px solid #eceff1;
}

/* Contact */
.main section:last-child {
    padding-bottom: 0;
}

a img {
    width: 50px;
}

#github {
    width: 100px;
}

.links a {
    margin-right: 20px;
    margin-right: 2.0rem;
}

/* might only work with pure css background changes*/
a img:hover {
    transition: all 0.4s ease-in-out;
}

/*
    ==========
    c) Footer
    ==========
*/
footer {
    padding: 32px 0 32px;
    position: fixed;

    background: #eceff1;
    color: #616161;
    font-size: 14px;
    font-size: 1.4rem;

    line-height: 18px;

    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: left;
}

.footer-description {
    margin: 0 0 16px;
}

.footer-social li {
    margin: 0 8px 16px;
}

.footer-social li:first-child {
    margin: 0;
}

.footer-social a,
.footer-social a:hover,
.footer-social a:visited {
    color: rgb(33, 33, 33);
    text-decoration: none;
}

@media (max-height:800px){
    html {
        font-size: 1.6vh;
    }
    
    footer {
        position: static;
    }
}