/*----------------
    Reset HTML
----------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------
    Border sizing
--------------------*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*-----------------
    Typography
------------------*/
h1,
h2,
h3 {
    font-weight: 600;
    margin-bottom: 1rem;
}

h1 {
    color: #1a73e8;
    font-size: 48px;
    font-size: 4.8rem;
    font-weight: 550;
    line-height: 72px;
}

h2 {
    color: rgb(33, 33, 33);
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 48px;
}

h3 {
    color: rgb(33, 33, 33);
    font-size: 24px;
    font-size: 2.4rem;
}

/*
    ================
    Links (Anchors)
    ================
*/
a,
a:hover {
    color: #1a73e8;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #1a73e8;
    text-decoration: none;
    cursor: pointer;
}

/*---------
    Body
----------*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding-top: 8rem;

    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: rgb(33, 33, 33);
    color: #616161;
    text-transform: lowercase;

    background: #fff;
}

/*
.separator {
    width: 90%;
    border-bottom: 5px dashed #eceff1;
    border-bottom: 0.5rem dashed #eceff1;
    margin: 0.5em 0;
}*/

/*-----------
    Header
-------------*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    min-width: 100%;
    padding: 32px 32px 0 32px;
    padding: 3.2rem 3.2rem 0 3.2rem;
}

.logo {
    display: none;
}

/*--------
    Nav
---------*/
li {
    display: inline-block;
}

.nav li {
    position: relative;
    margin: 0 36px 0 0;
    transition: all 0.4s ease;
}

.nav li a:hover,
footer li:hover {
    color: #1a73e8;
}

.nav a {
    color: #000;
    cursor: pointer;
}

.nav a:active {
    opacity: 0.8;
}

.nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    height: 0.2rem;

    left: 20%;
    position: absolute;
    background: #1a73e8;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

/*--------
    Main
---------*/
li:last-child {
    padding-right: 0;
    margin-right: 0;
}

a img {
    width: 50px;
}

.list {
    display: flex;
}

.list ul {
    display: flex;
    flex-direction: column;
}

.list ul:first-child {
    margin-right: 2.4em;
}

.gray {
    background-color: #f6f6f6;
}

.wave {
    color: #f6f6f6;
    margin-bottom: -0.5rem;
}

.invertedWave-2Uzmgv {
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-bottom: 2rem;
    margin-top: -0.5rem;
}

section {
    background-color: #fff;
    padding: 10rem 0;
}


.coloured,
#gmail:hover .black-white,
#github:hover .black-white,
#linkedin:hover .black-white {
    opacity: 0;
}

.black-white,
#gmail:hover .coloured,
#github:hover .coloured,
#linkedin:hover .coloured {
    opacity: 1;
}

.links {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    width: 40%;
}

.link img {
    position: absolute;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

/*
    ==========
    c) Footer
    ==========
*/
footer {
    background: #23272a;
    color: #ffffff;
    font-size: 24px;
    font-size: 2.4rem;

    line-height: 18px;

    bottom: 0;
    left: 0;
    right: 0;
}

.footer-description {
    margin: 0 0 16px;
}

.footer-social li {
    margin: 0 8px 16px;
}

.footer-social li:first-child {
    margin: 0;
}

footer a,
footer a:visited {
    color: #ffffff;
}

footer a:hover {
    color: #1a73e8;
}

/*------------------
    Media Queries
-------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 52%;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;

    }

    .links a {
        margin-right: 100px;
        margin-right: 8.0rem;
        margin-right: 12%;
    }

    a img {
        width: 50px;
        width: 10%;
    }

    footer {
        padding: 5% 0 5%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        font-size: 62%;
    }

    .container {
        margin: 0;
    }

    section ul li {
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 72%;
    }

    .container {
        margin: 0 auto;
        width: 45%;
    }

    .logo,
    .logo:hover,
    .logo:visited {
        display: contents;
        float: left;
        color: #000;
        text-decoration: none;
    }

    .logo img {
        margin-right: 0;
        width: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 20px;
        font-size: 2.0rem;
    }

    .links {
        width: 20%;
    }

    footer {
        padding: 10rem 0;;
        
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;

        background: #23272a;
        color: #616161;
        font-size: 14px;
        font-size: 1.7rem;

        line-height: 18px;
    }
}
